body {
    font-family: Arial;
    text-align: center;
    background: lightblue;
}

input, button {
    padding: 10px;
    margin: 5px;
}

button {
    background: blue;
    color: white;
} 